/**
 * {@link}
 */
#app-headPanel + .rs-panel-heading {
  padding: 0; }
#app-headPanel .app-grid-inline-from {
  margin: 0; }
  #app-headPanel .app-grid-inline-from > .rs-row .rs-col .rs-form-group {
    margin: 0; }
