$Borderradius: 3px;

.app-sql-group-toggle {
  height: 22px;
  width: 75px;
  position: relative;
  background-color: #0088cc;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 2px;
  border-radius: $Borderradius;

  > .app-sql-group-toggle-button {
    display: flex;
    border-radius: $Borderradius;
    height: 100%;
    width: 100%;

    .app-sql-group-toggle-buttonItem {
      flex: 1;
      //background-color: red;
      color: #ffffff;
      text-align: center;
      line-height: 20px;
      font-size: 12px;

      &.select {
        background-color: #ffffff;
        color: #9a9a9a;
        /*动画形式进行宽度变化*/
        transition: all 500ms;
        -moz-transition: all 500ms; /* Firefox 4 */
        -webkit-transition: all 500ms; /* Safari and Chrome */
        -o-transition: all 500ms; /* Opera */
      }

      &.left {
        border-radius: $Borderradius 0 0 $Borderradius;
      }

      &.right {
        border-radius: 0 $Borderradius $Borderradius 0;
      }


    }

  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    border-width: 0 0 2px 2px;
    left: -10px;
    width: 12px;
    height: 50%;
    border-color: #08c;
    border-style: solid;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    border-width: 0 0 0 2px;
    left: -10px;
    width: 15px;
    height: calc(50% + 12px);
    border-color: #08c;
    border-style: solid;
  }
}


.app-sql-expression + .app-sql-group-toggle {
  right: -20px;

  &:before {
    left: -30px;
    width: 0;
    border-width: 0 0 2px 2px;
  }

  &:after {
    left: -30px;
  }

  > .app-sql-group-toggle-button {
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      border-width: 0 0 2px 2px;
      left: -10px;
      width: 12px;
      height: calc(50% + 10px);
      border-color: #08c;
      border-style: solid;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      border-width: 0 0 0 2px;
      left: -10px;
      width: 15px;
      height: calc(50% + 12px);
      border-color: #08c;
      border-style: solid;
    }
  }
}
