.app-sql-expression {
  position: relative;
  display: flex;
  padding: 0 20px 0 10px;
  margin-bottom: 10px;
  align-items: center;
  /*&:nth-child(2n+1){
    background-color: red;
  }*/
  /*&:nth-child(2n+1){
    background-color: yellow;
  }*/
  /*.app-sql-expression-tool-hide {
    display: none !important;
  }*/
  /*&[data-index='0'] {
    > .app-sql-expression-tool {
      display: none !important;
    }
  }*/ }
  .app-sql-expression > div {
    flex: 1;
    margin-right: 5px; }
  .app-sql-expression:before {
    content: "";
    position: absolute;
    top: 0;
    border-width: 0 0 2px 2px;
    left: 0;
    width: 10px;
    height: 50%;
    border-color: #08c;
    border-style: solid; }
  .app-sql-expression:after {
    content: "";
    position: absolute;
    top: 50%;
    border-width: 0 0 0 2px;
    left: 0;
    width: 10px;
    height: calc(50% + 11px);
    border-color: #08c;
    border-style: solid; }
  .app-sql-expression:last-child:after {
    width: 0;
    height: 0; }
  .app-sql-expression .app-sql-expression-tool {
    position: absolute;
    right: -10px;
    top: 6px;
    display: none; }
  .app-sql-expression:hover .app-sql-expression-tool {
    display: block; }
