.app-sql-expression {
  position: relative;
  display: flex;
  padding: 0 20px 0 10px;
  margin-bottom: 10px;
  align-items: center;

  > div {
    flex: 1;
    margin-right: 5px;
  }

  /*&:nth-child(2n+1){
    background-color: red;
  }*/
  /*&:nth-child(2n+1){
    background-color: yellow;
  }*/

  &:before {
    content: "";
    position: absolute;
    top: 0;
    border-width: 0 0 2px 2px;
    left: 0;
    width: 10px;
    height: 50%;
    border-color: #08c;
    border-style: solid;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    border-width: 0 0 0 2px;
    left: 0;
    width: 10px;
    height: calc(50% + 11px);
    border-color: #08c;
    border-style: solid;
  }

  &:last-child:after {
    width: 0;
    height: 0;
  }

  .app-sql-expression-tool {
    position: absolute;
    right: -10px;
    top: 6px;
    display: none;
  }

  /*.app-sql-expression-tool-hide {
    display: none !important;
  }*/
  /*&[data-index='0'] {
    > .app-sql-expression-tool {
      display: none !important;
    }
  }*/

  &:hover {


    .app-sql-expression-tool {
      display: block;
    }
  }
}
