@import "../../imageCard";

.app-image-library-picture-card-uploader {

  .app-image-uploader-hide {
    display: none !important;
  }

  /**
   * 隐藏图片上传控件的默认进度以及上传队列的
   */
  .rs-uploader-file-items {
    > div {
      display: none;
    }
  }

  .rs-uploader-trigger-btn {
    background-Color: transparent !important;
    color: #fff !important;

    &:hover {
      color: #fff !important;
      background-color: transparent !important;
    }
  }

  > span {
    margin-top: 20px;
  }
}
