@import "../../../../config/CssConfig";

/**内容区**/
.app-body {
  flex: 1 !important;
  overflow: auto;
  background-color: #F1F4F6;

  .rs-panel-heading {
    padding-bottom: 0px;
  }

  .app-nav-Body {
    flex-direction: column;
    overflow: hidden;
    padding: 15px;
    /*  display: flex;*/
    height: 100%;
    transition: margin-left 200ms, margin-right 200ms;
    -moz-transition: margin-left 200ms, margin-right 200ms; /* Firefox 4 */
    -webkit-transition: margin-left 200ms, margin-right 200ms; /* Safari and Chrome */
    -o-transition: margin-left 200ms, margin-right 200ms; /* Opera */
  }
}
