{
  "presets": [
    "react",
    [
      "rsuite",
      {
        "style": true,
        "theme": "default"
      }
    ]
  ],
  "plugins": [
    "react-loadable/babel",
    "syntax-dynamic-import",
    [
      "lodash",
      {
        "id": [
          "lodash",
          "recompose"
        ]
      }
    ]
  ]
}
