@import "../../../../index";

.app-image-library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > .app-image-library-image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;

    > div {
      position: relative;
      margin: 0 auto;
      height: 120px;
      width: 120px;
      display: flex;
      border-radius: 5px;
      overflow: hidden;
      @include defaultBackgroundImage;

      > .app-handle-img-loader-box {
        position: absolute;
      }

      > .app-handle-img-success {
        @include defaultBackgroundImage;
      }

      > .app-handle-img-error {
        @include defaultErrorBackgroundImage;
      }
    }

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  /**
   * 隐藏图片上传控件的默认进度以及上传队列的
   */
  .rs-uploader-file-items {
    > div {
      display: none;
    }
  }

  .rs-uploader-trigger-btn {
    background-Color: #F7595B !important;
    color: #fff !important;

    &:hover {
      color: #fff !important;
      background-color: #ed4040 !important;
    }
  }

  > span {
    margin-top: 20px;
  }
}
