.react-bpmn-diagram-container {
  opacity: 1;
  transform: translate(0px, 0px);
  height: inherit;
  width: initial;
  overflow: hidden;
  background-image: linear-gradient(rgba(193, 193, 193, 0.3) 1px, transparent 0), linear-gradient(90deg, rgba(193, 193, 193, 0.3) 1px, transparent 0), linear-gradient(#dedede 1px, transparent 0), linear-gradient(90deg, #dedede 1px, transparent 0);
  background-size: 1px 1.5rem, 1.5rem 1px, 1px 0, 0 0; }

.djs-context-pad .entry {
  background-color: transparent;
  box-shadow: none; }

.bjs-powered-by {
  display: none !important; }
