@import "../../../../config/CssConfig";

.app-header {
  border-bottom: 1px solid #f2f2f5;
  display: flex;
  z-index: 1020;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
