.rs-icon.fill-color use {
  fill: currentColor;
}


.app-rs-icon-8 {
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    stroke-width: 86px;
    height: 8px;
    fill: #8E8E93;
    stroke: #8E8E93;
    stroke-linecap: square;
  }

}


.app-rs-icon-7 {
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    stroke-width: 86px;
    height: 7px;
    fill: #8E8E93;
    stroke: #8E8E93;
    stroke-linecap: square;
  }

}


.app-rs-icon-5 {
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    stroke-width: 86px;
    height: 5px;
    fill: #8E8E93;
    stroke: #8E8E93;
    stroke-linecap: square;
  }

}
