.app-cardboardListTable-table {
  width: calc(100% - 30px);
  font-size: 12px;
  margin: 0 auto; }
  .app-cardboardListTable-table tr td:nth-child(odd) {
    width: 30%;
    text-align: justify;
    text-align-last: justify;
    font-weight: bold; }
  .app-cardboardListTable-table tr td:nth-child(even) {
    width: 20%;
    text-align: center;
    font-weight: bold; }
