.app-editModel-list {
  height: 36px; }
  .app-editModel-list .app-editModel-list-tool {
    opacity: 0;
    visibility: hidden; }
  .app-editModel-list:hover > .app-editModel-list-tool {
    opacity: 1;
    visibility: visible; }
