.djs-minimap {
  right: 50px;
  bottom: 0 !important;
  top: auto; }
  .djs-minimap > .toggle {
    display: none; }
  .djs-minimap .map {
    width: 220px !important;
    height: 220px !important; }
  .djs-minimap .viewport-dom {
    background-color: rgba(255, 165, 0, 0.2); }
