@import "./lib/AppRsGridForm";
@import "./lib/AppRsTableMuchHead";
@import "./lib/AppRsButtonToolBarLabel";
@import "./lib/react-mosaic-component/index";
@import "./lib/react-splitter-layout/index";


/*
   无法得知具体产生的原因，临时解决方案
   InputPicker 在表格中错乱的问题
*/
.rs-picker-input:not(.rs-picker-disabled) .rs-picker-toggle {
  left: 0;
}

/*
控制表格的hover背景色
*/

/*
.rs-table-hover .rs-table-row:not(.rs-table-row-header):hover,
.rs-table-hover .rs-table-row:hover .rs-table-cell-group,
.rs-table-hover .rs-table-row:hover .rs-table-cell {
  .showow {
    display: block;
  }
}
*/

/**
通过hover控制公告元素的显示
 */
/*
.showow {
  display: none
}

.rs-table-hover .rs-table-row:not(.rs-table-row-header):hover,
.rs-table-hover .rs-table-row:hover {
  .showow {
    display: block;
  }
}*/



