@import "../../../../../../config/CssConfig";

.header-tabs {
  flex: 1;
  display: flex;
  margin-left: 5px;
  overflow: hidden;
  min-width: 500px;

  .header-tabs-box {
    display: flex;
    width: 100%;
    margin-top: 5px;
    position: relative;
  }

  .header-tabs-base {
    flex: 1;
    background-color: #fff;
    overflow: auto;
    /* 藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }

  /**隐藏滚动条并不影响滚动效果**/
  .header-tabs-base::-webkit-scrollbar {
    display: none;
  }

  .app-close {
    position: absolute;
    z-index: 999;
    right: -3px;
    top: 0px;
  }

  .header-tabs-tabitem-select {
    background-color: #f1f1f1 !important;
    position: relative;
    height: $selctTabsheight !important;
    box-shadow: 0px -1px 3px 0px rgba(39, 39, 39, 0.27);

    .app-close {
      display: none !important;
      cursor: pointer;
    }

    &:hover {
      .app-close {
        display: none !important;
      }
    }
  }

  .header-tabs-tabitem {
    position: relative;
    max-width: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    height: $tabsheight;
    padding: 5px;
    margin: 0 5px 0 0;
    border: 1px solid #e8e8e8;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    top: 0;

    user-select: none; /* Non-prefixed version, currently not supported by any browser */
    outline: none;

    .app-close {
      display: none;
    }

    &:hover {
      .app-close {
        display: block;
      }
    }

    .header-tabs-tabitem-content {
      width: 100px;
      text-align: center;
      text-wrap: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; /*兼容IE*/
      &:hover {
        cursor: pointer;
        color: #000;
      }

    }

    i:hover {
      cursor: default;
      color: #000;
      font-weight: 800;
    }
  }

  .ant-tabs-bar {
    border-bottom: none !important;
  }

  .TabsSpan {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header-tabs-basetool {
    display: flex;
    width: 50px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

}
