.app-sql-group {
  height: auto;
  position: relative;
  margin-bottom: 10px;
  background-color: #ffffff;

  > .app-sql-group-item {
    display: block;
    height: auto;

    > .app-sql-group-toggle-first {
      &:before {
        border-width: 0 0 2px 0 !important;
      }
    }
  }

  > .app-sql-group-togglesh {
    position: absolute;
    cursor: Pointer;
    width: 10px;
    height: 10px;
    left: 5px;
    top: 3px;
  }

  > .app-sql-group, > div > .app-sql-group {
    margin-left: 30px;
    border: 1px solid #e8e8e8;
    padding: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      border-width: 0 0 2px 2px;
      left: -31px;
      width: 31px;
      height: 50%;
      border-color: #08c;
      border-style: solid;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      border-width: 0 0 0 2px;
      left: -31px;
      width: 31px;
      height: calc(50% + 12px);
      border-color: #08c;
      border-style: solid;
    }
  }

  &:last-child:after, & > div > .app-sql-group:last-child:after {
    width: 0;
    height: 0;
  }

  &:hover {
    background-color: rgba(37, 137, 245, 0.2);
    //border: 1px solid #919191;
  }
}
