@charset "UTF-8";
/**tab框高度**/
/**tab框高度**/
/**logo高度**/
/**菜单背景颜色*/
/**菜单栏**/
.app-sidebar {
  /*  position: fixed;*/
  overflow: auto;
  z-index: 999;
  height: calc(100vh - 57px);
  background-color: #113756;
  /*动画形式进行宽度变化*/
  transition: width 100ms;
  -moz-transition: width 100ms;
  /* Firefox 4 */
  -webkit-transition: width 100ms;
  /* Safari and Chrome */
  -o-transition: width 100ms;
  /* Opera */
  /**隐藏滚动条并不影响滚动效果**/
  /**文本形式**/ }
  .app-sidebar::-webkit-scrollbar {
    display: none; }
  .app-sidebar .app-dropdown-Item-text > a {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .app-sidebar .app-dropdown-Item-text > a > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; }
