.app-backcolor-panel {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
  overflow: hidden;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);

  & .app-backcolor-panel {
    margin-bottom: 5px;
  }
}

.app-backcolor-panel-table {
  .rs-table-bordered {
    border-left: none !important;
    border-right: none !important;
  }

  .rs-table-cell-last {
    border-width: 0 !important;
  }
}

.app-backcolor-panel-head {
  & .rs-panel-heading {
    padding: 0;
  }
}
