
.app-head-tool-icotool {
  display: flex;
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 38px;
  align-content: flex-end;
  justify-content: flex-end;

  .app-head-tool-column:nth-child(1) {
    margin-left: 0;
  }

  .app-head-tool-column {
    margin-left: 10px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

