@import "../../index";


.app-image-library-picture-card-select-group {
  position: relative;
  margin: 7px;

  .app-image-library--picture-card-item-select {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 9;
    top: 50%;
    left: 7px;
    border-width: 0 51px 51px 0;
    border-style: solid;
    border-color: transparent transparent #f7595b;
  }

  .app-image-library--picture-card-item-select-hide {
    display: none;
  }


  .app-image-library-picture-card-item {
    display: flex;
    width: 102px;
    height: 102px;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    justify-items: center;
    justify-content: center;


    &:hover {
      border-color: #1890ff;
    }


    > .app-image-library-image-box {
      position: relative;
      margin: 7px;

      > .app-image-library-icon {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          display: none;
          cursor: pointer;
        }

        svg {
          display: none;
          cursor: pointer;

          &:nth-child(2) {
            margin-left: 8px;
          }

          &:nth-last-child(2) {
            margin-right: 8px;
          }
        }

        &:hover {
          background-color: #848484a3;

          svg {
            display: block;
          }
        }
      }

      > .app-image-library-icon-del-success {
        height: 80px;
        width: 80px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(16, 16, 16, 0.4);

        svg {
          cursor: pointer;
        }

        svg {
          cursor: pointer;

          &:nth-child(2) {
            margin-left: 8px;
          }

          &:nth-last-child(2) {
            margin-right: 8px;
          }
        }

      }


      > .app-image-library-image {
        margin: 0 auto;
        height: 80px;
        width: 80px;
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        /*background-image: $defaultBackgroundImage;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;*/
        justify-content: center;

        > .app-handle-img-loader-box {
          position: absolute;
        }
      }

      > .app-image-library-image-default {
        @include defaultBackgroundImage;
      }

      > .app-image-library-image-updata {
        @include defaultUpdataBackgroundImage;
      }

      > .app-image-library-image-error {
        @include defaultErrorBackgroundImage;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: #fff;
      }
    }
  }
}



