.app-backcolor-panel {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
  overflow: hidden;
}

.app-backcolor-panel-table {
  .rs-table-bordered {
    border-left: none !important;
    border-right: none !important;
  }

  .rs-table-cell-last {
    border-width: 0 !important;
  }
}
