@import "../sqlGroup/group";


.app-sql-panel {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  @extend .app-sql-group;

  &:hover {
    background-color: rgba(37, 137, 245, 0.2);
    //border: 1px solid #919191;
  }

  & > .app-sql-expression:only-child:before {
    width: 0;
    height: 0;
  }

  & > .app-sql-expression:first-child:before {
    border-width: 0 0 2px 0;
  }

}
