.app-script-name {
  padding-bottom: 5px;
  white-space: nowrap;
  font-weight: 500; }

.app-script-slimText {
  font-size: 0.666em;
  color: #97969B;
  font-weight: lighter;
  padding-bottom: 5px; }
